$cd-txt: #6300a0;
$cd-box: #F2F2F2;
$cd-danger: #b20a37;
$cd-text--invalid: #fff;
.container1 {
    display: flex;
    flex-direction: column-reverse;
}
.form {
    &__group {
        & input {
        border: 2px solid $cd-box;
        border-radius: 100rem;
        color: $cd-txt;
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        outline: none;
        padding: .5rem 1.5rem;
        width: 80%;
        transition: background-color 500ms;
        &:focus {
            border: 2px solid $cd-txt;
            }
            &:not(:focus):invalid {
                background-color: $cd-danger;
                border: 2px solid $cd-danger;
                color: $cd-text--invalid;
            }
        }
    }
}

label 
{
    color: #6300a0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-left: 2rem;
    font-weight: bold;
}
$cd-primary:#47c847;
$cd-secondary: #6666d1;
.btn {
    background: $cd-primary;
    font-size: 2rem;
    cursor:pointer;
    padding: 2rem 2rem;
    margin-left: 25%;
    text-align: center;
    width: 30%;
    border-radius: 10rem;
    &:active + .ball {
        transform:scale(1.65);
    }

}
.ball {
    width: 100px;
    height: 100px;
    background: $cd-secondary;
    margin: 2rem 15rem;
    border-radius: 100px;
    transform: scale(0.1);
    transition: transform 600ms;
    display: flex;
    justify-content: center;
    align-items: center;
}
$cd-btn-start: rgba(1, 28, 55, 0);
$cd-btn-end: rgba(1, 28, 55, 1);
$cd-btn:#011c3700;
.btn2 {
    background-color: $cd-btn-start;
    border-radius: 10rem;
    color: $cd-primary;
    width: 50%;
    cursor: pointer;
    font-size: 3rem;
    overflow: hidden;
    margin: 2rem 8rem;
    text-align: center;
    position: relative;
    transition: transform 500ms , background-color 300ms 150ms;
    &:hover {
        transform: scale(1.50);
        background-color: $cd-btn-end;
    }
}
.container3 {
    border: 4px solid black;
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    align-items: center;
}

.cube {
    width: 50px;
    height: 90%;
    background-color: white;
    &:hover {
        transform: translateX(600px);
        transition: transform 2000ms ease-in-out;
    }
}

.barre {
    margin-top: 1rem;
    width: 20px;
    height: 500px;
    background: linear-gradient(green, yellow, orange,red);
    margin-left: 50%;
}

.container4 {
    display: flex;
    flex-direction: column;
}
$trans-dur: 2000ms;
.btn3 {
    background-color:rgba(1, 28, 55, 1);
    width: 130px;
    height: 50px;
    margin-left: 42%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:active +.boule {
        transform: translateY(-480px);
        transition: transform $trans-dur cubic-bezier(0, .75, .08, 1);
    }
    & p {
        font-family: sans-serif;
        color: white;
    }
}
.boule {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 327px;
    margin-top: 497px;
    position:absolute;
    background-color: red;
    border: 2px solid rgb(160, 17, 17);
}
.cube2 {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    margin-left: 45%;
    margin-top: 1rem;
    transition: transform 330ms ease-in-out;
}
.btn4 {
    background-color: rgb(119, 119, 214);
    width: 120px;
    height: 60px;
    margin-left: 43%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:active + .cube2 {
        transform: translate(150px, -7vh);
    }
}
.container5 {
    display: flex;
    flex-direction: column-reverse;
}
.container6 {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(99, 99, 190);
}
.cube3{
    background-color: rgb(49, 211, 162);
    width: 100px;
    height: 100px;
    margin-left: 45%;
    margin-top: 1rem;
    transform: scale(0.1);
    transition: transform 330ms ease-in-out;
    overflow: hidden;
    span {
        display: inline-block;
        transform: translateY(250%);
        transition: transform 280ms ease-out 50ms;
    }
}
.btn5 {
    background-color: rgb(226, 142, 156);
    width: 100px;
    height: 45px;
    margin-top: 1rem;
    margin-left: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover+.cube3 {
        transform: scale(1);
    }
    p{
        transform: translateY(0);
    }
}
.btn7 {
    margin-left: 38%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgb(250, 85, 167);
    border: none;
    width: 150px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    &:hover +.boxes {
        & .boxes--rotDegrees {
            transform: rotate(0deg);
        }
        & .boxes--rotTurns{
            transform: rotate(0turn);
        }
        &.boxes--rotTurns2 {
            transform: rotate(0turn);
        }
    }
}
.boxes {
    display: flex;
    justify-content: space-around;
    &--rotDegrees {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        transform: rotate(-360deg);
        transition: transform 500ms ease-in-out;
        background: rgb(83, 83, 190);
        width: 200px;
        height: 200px;
    }
    &--rotTurns {
        width: 200px;
        height: 200px;
        font-size: 2rem;
        background-color: rgb(83, 83, 190);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-1turn);
        transition: transform 500ms ease-in-out;
    }
}
.container8 {
    display: flex;
    flex-direction: column-reverse;
}
.btn8 {
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: rgb(33, 197, 156);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:monospace;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 40px 10px 10px 250px;
    &:active {
        & + .progress {
            & .progress_bar {
                transform:scaleX(1);
            }
        }
    }
}
.progress {
    margin-top: 40px;
    border: solid 2px rgb(4, 70, 114);
    width: 650px;
    height: 30px;
    &_bar {
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 1000ms cubic-bezier(.32,0,.07,1);
    }
}
.progress_bar {
    background-color:rgb(33, 197, 156);
    width: 646px;
    height: 26px;
    margin: 2px 2px 2px 2px;
    font-size: 1.3rem;
}
#menu
{
  display: block;
  position: relative;
  top: 100px;
  left: 50px;
  z-index: 1;
}
#menu a
{
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
#menu a:hover
{
  color: tomato;
}
#menu input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer; 
  opacity: 0;
  z-index: 2;
}
#menu span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),opacity 0.55s ease;
}
#menu span:first-child
{
  transform-origin: 0% 0%;
}
#menu span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menu input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menu input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menu input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#list-menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  border-radius: 20px;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#list-menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menu input:checked ~ ul
{
  transform: none;
}
.container9 {
    display: flex;
    flex-direction: column-reverse;
}
.progress_bar9 {
    background-color:rgb(33, 197, 156);
    width: 646px;
    height: 26px;
    margin: 2px 2px 2px 2px;
    font-size: 1.3rem;
}
.progress9 {
    margin-top: 40px;
    border: solid 2px rgb(4, 70, 114);
    width: 650px;
    height: 30px;
}
.btn9 {
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-color: rgb(33, 197, 156);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:monospace;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 40px 10px 10px 250px;
    & :active {
        & > .progress_bar9 {
            transform: scaleX(1);
            animation-name: progress-bar;
            animation-duration: 1000ms;
        }
    }
}
@keyframes progress-bar {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
.circle, .square {
    width: 500px;
    height: 500px;
    background-color: #80ff2b;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle p {
    font-size: 3.5rem;
}
.square p {
    font-size: 2.7rem;
}
.square {
    border-radius: 0px;
    animation-name: translate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.square1 {
    animation-direction: normal;
}
.square2 {
    animation-direction: reverse;
}
.square3 {
    animation-direction: alternate;
}
.square4 {
    cursor: pointer;
    animation-direction: alternate-reverse;
    animation-play-state: paused;
}
.square4:active {
    animation-play-state: running;
}
.circle:hover {
    animation-name: color;
    animation-duration: 3s;
    animation-delay: 1s;
}
.circle1 {
    animation-fill-mode: none;
}
.circle2 {
    animation-fill-mode: forwards;
}
.circle3 {
    animation-fill-mode: backwards;
}
.circle4 {
    animation-fill-mode: both;
}
@keyframes color {
    0% {
        background-color: #4B0082;
    }
    100% {
        background-color: #FF0000;
    }
}
@keyframes translate {
    100% { transform: translateX(1200px)}
}
.loader {
    width: 80px;
    height: 80px;
    background-color: #3492e9;
    animation: flip 1.5s infinite;
}
.containerLoader {
    display: flex;
    align-items: center;
}
.textLoader {
    margin-left: 1rem;
    font-size: 3rem;
}
@keyframes flip {
    0%{ transform: rotate(0) }
    50%{ transform: rotateY(180deg) }
    100%{ transform: rotateY(180deg) rotateX(180deg) }
    
}