.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.form__group input {
  border: 2px solid #F2F2F2;
  border-radius: 100rem;
  color: #6300a0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  outline: none;
  padding: .5rem 1.5rem;
  width: 80%;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
}

.form__group input:focus {
  border: 2px solid #6300a0;
}

.form__group input:not(:focus):invalid {
  background-color: #b20a37;
  border: 2px solid #b20a37;
  color: #fff;
}

label {
  color: #6300a0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  padding-left: 2rem;
  font-weight: bold;
}

.btn {
  background: #47c847;
  font-size: 2rem;
  cursor: pointer;
  padding: 2rem 2rem;
  margin-left: 25%;
  text-align: center;
  width: 30%;
  border-radius: 10rem;
}

.btn:active + .ball {
  -webkit-transform: scale(1.65);
          transform: scale(1.65);
}

.ball {
  width: 100px;
  height: 100px;
  background: #6666d1;
  margin: 2rem 15rem;
  border-radius: 100px;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: -webkit-transform 600ms;
  transition: -webkit-transform 600ms;
  transition: transform 600ms;
  transition: transform 600ms, -webkit-transform 600ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn2 {
  background-color: rgba(1, 28, 55, 0);
  border-radius: 10rem;
  color: #47c847;
  width: 50%;
  cursor: pointer;
  font-size: 3rem;
  overflow: hidden;
  margin: 2rem 8rem;
  text-align: center;
  position: relative;
  -webkit-transition: background-color 300ms 150ms , -webkit-transform 500ms;
  transition: background-color 300ms 150ms , -webkit-transform 500ms;
  transition: transform 500ms , background-color 300ms 150ms;
  transition: transform 500ms , background-color 300ms 150ms , -webkit-transform 500ms;
}

.btn2:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: #011c37;
}

.container3 {
  border: 4px solid black;
  width: 100%;
  height: 50px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cube {
  width: 50px;
  height: 90%;
  background-color: white;
}

.cube:hover {
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
  -webkit-transition: -webkit-transform 2000ms ease-in-out;
  transition: -webkit-transform 2000ms ease-in-out;
  transition: transform 2000ms ease-in-out;
  transition: transform 2000ms ease-in-out, -webkit-transform 2000ms ease-in-out;
}

.barre {
  margin-top: 1rem;
  width: 20px;
  height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(green), color-stop(yellow), color-stop(orange), to(red));
  background: linear-gradient(green, yellow, orange, red);
  margin-left: 50%;
}

.container4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn3 {
  background-color: #011c37;
  width: 130px;
  height: 50px;
  margin-left: 42%;
  border-radius: 20px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.btn3:active + .boule {
  -webkit-transform: translateY(-480px);
          transform: translateY(-480px);
  -webkit-transition: -webkit-transform 2000ms cubic-bezier(0, 0.75, 0.08, 1);
  transition: -webkit-transform 2000ms cubic-bezier(0, 0.75, 0.08, 1);
  transition: transform 2000ms cubic-bezier(0, 0.75, 0.08, 1);
  transition: transform 2000ms cubic-bezier(0, 0.75, 0.08, 1), -webkit-transform 2000ms cubic-bezier(0, 0.75, 0.08, 1);
}

.btn3 p {
  font-family: sans-serif;
  color: white;
}

.boule {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 327px;
  margin-top: 497px;
  position: absolute;
  background-color: red;
  border: 2px solid #a01111;
}

.cube2 {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: blue;
  margin-left: 45%;
  margin-top: 1rem;
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
}

.btn4 {
  background-color: #7777d6;
  width: 120px;
  height: 60px;
  margin-left: 43%;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn4:active + .cube2 {
  -webkit-transform: translate(150px, -7vh);
          transform: translate(150px, -7vh);
}

.container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.container6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  background-color: #6363be;
}

.cube3 {
  background-color: #31d3a2;
  width: 100px;
  height: 100px;
  margin-left: 45%;
  margin-top: 1rem;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  overflow: hidden;
}

.cube3 span {
  display: inline-block;
  -webkit-transform: translateY(250%);
          transform: translateY(250%);
  -webkit-transition: -webkit-transform 280ms ease-out 50ms;
  transition: -webkit-transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms;
  transition: transform 280ms ease-out 50ms, -webkit-transform 280ms ease-out 50ms;
}

.btn5 {
  background-color: #e28e9c;
  width: 100px;
  height: 45px;
  margin-top: 1rem;
  margin-left: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.btn5:hover + .cube3 {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn5 p {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn7 {
  margin-left: 38%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #fa55a7;
  border: none;
  width: 150px;
  font-size: 1.3rem;
  border-radius: 10px;
  cursor: pointer;
}

.btn7:hover + .boxes .boxes--rotDegrees {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.btn7:hover + .boxes .boxes--rotTurns {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.btn7:hover + .boxes.boxes--rotTurns2 {
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.boxes--rotDegrees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  background: #5353be;
  width: 200px;
  height: 200px;
}

.boxes--rotTurns {
  width: 200px;
  height: 200px;
  font-size: 2rem;
  background-color: #5353be;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.container8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.btn8 {
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-color: #21c59c;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.4rem;
  margin: 40px 10px 10px 250px;
}

.btn8:active + .progress .progress_bar {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.progress {
  margin-top: 40px;
  border: solid 2px #044672;
  width: 650px;
  height: 30px;
}

.progress_bar {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: -webkit-transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
  transition: transform 1000ms cubic-bezier(0.32, 0, 0.07, 1), -webkit-transform 1000ms cubic-bezier(0.32, 0, 0.07, 1);
}

.progress_bar {
  background-color: #21c59c;
  width: 646px;
  height: 26px;
  margin: 2px 2px 2px 2px;
  font-size: 1.3rem;
}

#menu {
  display: block;
  position: relative;
  top: 100px;
  left: 50px;
  z-index: 1;
}

#menu a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menu a:hover {
  color: tomato;
}

#menu input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menu span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menu span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menu input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menu input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#list-menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  border-radius: 20px;
  list-style-type: none;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#list-menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}
/*# sourceMappingURL=styles.css.map */